SECRET_KEY = 'Ваш-секретный_ключ_проекта'
DEBUG = 'Режим_отладки_только_для_разработки'
ALLOWED_HOSTS = 'Разрешенные_хосты_через_запятую'
STATIC_URL = 'Путь_к_статике_проекта_если_нужно_поменять'
MEDIA_URL = 'Путь_к_медиа_проекта_если_нужно_поменять'
BREAKFAST_PRICE = 'Цена_на_завтрак_без_кавычек'
LUNCH_PRICE = 'Цена_на_обед_без_кавычек'
DINNER_PRICE = 'Цена_на_ужин_без_кавычек'
DESSERT_PRICE = 'Цена_на_десерт_без_кавычек'
