{% extends "base.html" %}

{% block title %}Foodplan 2026 - Меню на неделю FOODPLAN{% endblock %}
{% block content %}
{% load static %}
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light fixed-top navbar__opacity">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="./../media/img/logo.8d8f24edbb5f.svg" height="55" width="189" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse1"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse1">
                    <ul class="navbar-nav w-100">
                        
                        <li class="nav-item align-items-center d-md-flex flex-grow-1 justify-content-end">
                            <button class="btn shadow-none btn-outline-success me-2 foodplan_green foodplan__border_green">Подписка</button>
                            <a class="btn shadow-none btn-outline-success foodplan_green foodplan__border_green" href="{% url 'auth' %}">Войти</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main style="margin-top: calc(2rem + 85px);">
        <section>
            <div class="container">
                <div class="card p-3 mb-5 foodplan__shadow">
                    <a href="#" class="link-secondary fw-light foodplan__backButton">
                        <svg xmlns="http://www.w3.org/2000/svg" width="9%" height="9%" fill="currentColor" class="bi bi-arrow-left-circle"
                            viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                        </svg>
                    </a>
                    <h2 class="text-center"><strong>Авторизация</strong></h2>
                </div>
                <div class="card px-5 py-3 d-flex align-items-center foodplan__shadow">
                    <form method="post" action="{% url 'registration' %}" novalidate>
                        {% csrf_token %}
                        <h1 class="mb-4 text-center"><strong>Регистрация</strong></h1>
                        {% if form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ form.non_field_errors }}
                            </div>
                        {% endif %}
                        <div class="mb-3">
                            <label for="{{ form.username.id_for_label }}" class="form-label">Имя</label>
                            <input
                                type="text"
                                class="form-control{% if form.username.errors %} is-invalid{% endif %}"
                                id="{{ form.username.id_for_label }}"
                                name="{{ form.username.html_name }}"
                                value="{{ form.username.value|default_if_none:'' }}"
                                required
                            >
                            {% for error in form.username.errors %}
                                <div class="invalid-feedback d-block">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.email.id_for_label }}" class="form-label">Email</label>
                            <input
                                type="email"
                                class="form-control{% if form.email.errors %} is-invalid{% endif %}"
                                id="{{ form.email.id_for_label }}"
                                name="{{ form.email.html_name }}"
                                value="{{ form.email.value|default_if_none:'' }}"
                                aria-describedby="emailHelp"
                                required
                            >
                            {% for error in form.email.errors %}
                                <div class="invalid-feedback d-block">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.password1.id_for_label }}" class="form-label">Пароль</label>
                            <input
                                type="password"
                                class="form-control{% if form.password1.errors %} is-invalid{% endif %}"
                                id="{{ form.password1.id_for_label }}"
                                name="{{ form.password1.html_name }}"
                                required
                            >
                            {% for error in form.password1.errors %}
                                <div class="invalid-feedback d-block">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.password2.id_for_label }}" class="form-label">Подтверждение пароля</label>
                            <input
                                type="password"
                                class="form-control{% if form.password2.errors %} is-invalid{% endif %}"
                                id="{{ form.password2.id_for_label }}"
                                name="{{ form.password2.html_name }}"
                                required
                            >
                            {% for error in form.password2.errors %}
                                <div class="invalid-feedback d-block">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <p class="mt-4 mb-2">Прочитайте и подтвердите согласие на обработку персональных данных и условия работы с сервисом.</p>
                        <div class="form-check mb-2">
                            <input
                                class="form-check-input foodplan_checked-green{% if form.privacy_policy_accepted.errors %} is-invalid{% endif %}"
                                type="checkbox"
                                id="{{ form.privacy_policy_accepted.id_for_label }}"
                                name="{{ form.privacy_policy_accepted.html_name }}"
                                required
                                {% if form.privacy_policy_accepted.value %}checked{% endif %}
                            >
                            <label class="form-check-label" for="{{ form.privacy_policy_accepted.id_for_label }}">
                                Я принимаю
                                <button type="button" class="btn btn-link link-secondary p-0 align-baseline" data-bs-toggle="modal" data-bs-target="#privacyPolicyModal">политику конфиденциальности</button>
                            </label>
                            {% for error in form.privacy_policy_accepted.errors %}
                                <div class="invalid-feedback d-block">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-check mb-3">
                            <input
                                class="form-check-input foodplan_checked-green{% if form.user_agreement_accepted.errors %} is-invalid{% endif %}"
                                type="checkbox"
                                id="{{ form.user_agreement_accepted.id_for_label }}"
                                name="{{ form.user_agreement_accepted.html_name }}"
                                required
                                {% if form.user_agreement_accepted.value %}checked{% endif %}
                            >
                            <label class="form-check-label" for="{{ form.user_agreement_accepted.id_for_label }}">
                                Я принимаю
                                <button type="button" class="btn btn-link link-secondary p-0 align-baseline" data-bs-toggle="modal" data-bs-target="#userAgreementModal">пользовательское соглашение</button>
                            </label>
                            {% for error in form.user_agreement_accepted.errors %}
                                <div class="invalid-feedback d-block">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="row mb-3">
                            <div class="col-12 col-sm-6 mt-3">
                                <button type="submit" class="btn shadow-none w-100 btn-outline-success foodplan_green foodplan__border_green">Регистрация</button>
                            </div>
                            <div class="col-12 col-sm-6 mt-3 d-flex justify-content-center align-items-center">
                                <small>Уже есть аккаунт? <a href="{% url 'auth' %}" class="link-dark foodplan_green">Войти</a></small>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <nav class="navbar navbar-expand-md navbar-light mt-5">
            <div class="container p-2">
                <a class="navbar-brand" href="#">
                    <img src="./../media/img/logo.8d8f24edbb5f.svg" height="55" width="189" alt="">
                </a>
                <div class="footer__sideBtns d-flex">
                    <a href="#">
                        <img src="./../media/img/vk.png" height="38" width="auto" alt="">
                    </a>
                </div>
            </div>
        </nav>
    </footer>
    <footer class="footer pt-2" style="border-top: 1px solid lightgray;">
        <div class="container d-flex flex-row justify-content-center mb-2">
            <small class="text-center">
                <h6>© Девман2022. Все права защищены. © Devman2022. All right reserved.</h6>
                <button type="button" class="btn btn-link link-secondary p-0 align-baseline" data-bs-toggle="modal" data-bs-target="#privacyPolicyModal">Политика конфиденциальности</button>
            </small>
        </div>
    </footer>
{% endblock %}
